.App {
  background-color: #a6a6ab;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg_img{
  padding:0px;
  height:100%;
  width: 100%;
  position:absolute;
  background-image: url(./assets/img/torre_Logo.png);
  background-repeat: no-repeat;
  background-position: center;
  animation-name: opacity;
  animation-duration: 2s;
}

.box{
  display: flex;
  align-items: center;
  justify-content:center;
}

.WelcomeText{
  color: #000;
  padding-top: 8rem;

}


.form-username{
  width: 20rem;
}

.ProfileCard, .form-username{
  animation: 1.5s linear  bottomTopOpacity
}

.profileName{
  font-size: 2rem
}

@keyframes opacity{
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes bottomTopOpacity{
  0%{
    margin-top: 3rem;
    opacity: 0;
  }
  20%{
    margin-top: 2.4rem;
    opacity: 0.2;
  }
  40%{
    margin-top: 1.8rem;
    opacity: 0.4;
  }
  60%{
    margin-top: 1.2rem;
    opacity: 0.6;
  }
  80%{
    margin-top: 0.6rem;
    opacity: 0.8;
  }
  100%{
    opacity: 1;
  }
}

